@model Indpro.Attendance.WebApp.Models.LogModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Log Timings</h3>
            @Html.ActionLink("Add LogTime", "NewLogTiming")<br /><br />
            @Html.Partial("LogListPartial", Model)
        </div>
    </div>
</div>
