@model Indpro.Attendance.WebApp.Models.LogModel
@using Indpro.Attendance.Entity;

<table class="table table-bordered table-striped">
    <tr>
       
        <th>InLoggedTime</th>
        <th>OutLoggedTime</th>
        <th>LogType</th>
    </tr>

    @*@foreach (var l in Model)
    {
        <tr>
           
            <td>@l.LoggedTime</td>
            <td>@l.LogType</td>
            <td>@l.IsInTime</td>

            
        </tr>
    }*@
</table>
