@{
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
    }

<div class="">
    <div class="container">
        <h2>Welcome to Indpro Attendance</h2>
        <h3>About Us</h3>
        <p>
            Indpro is a Swedish IT company delivering programming services within systems and software development,
            CMS and web, mobile applications as well as services within CAD and BIM. In addition, we can assist companies in starting up their own business or office
            in India. Our business idea is to offer cost efficient programming solutions, always to a high level of quality. Our headquarters are located in Stockholm,
            Sweden, and our development center, with Swedish management, is in Bangalore, India. In this way we are able to combine the best of two worlds: a cost
            reduction via India and – since we know Swedish and know what Swedish clients want – communication and quality control via Sweden. We have a
            long and profound experience of the outsourcing industry. We have developed a solid working method which we know works when using outsourcing.
            Using this method, we have even helped companies in Sweden to improve their internal communication!
        </p>
        <p>
            Indpro was founded on the vision to become the number one choice as an outsourcing partner for Swedish companies seeking support in IT.
            Set out to make this vision come true and with their Swedish-Indian background, the founders of Indpro visited the IT mecca of Bangalore during the middle of the ‘00s. In 2005,
            Indpro was registered as a company. Since then, Indpro has grown and can today offer services within a variety of IT fields and technologies. We have delivered more than 500.000
            man hours of programming to Swedish clients. Indpro currently has about 75 co-workers,
            counting both the Stockholm and Bangalore offices – and we are continuously looking to expand.
        </p>

        <h3>Indpro’s Vision</h3>
        <p>To be the number one choice for companies seeking support in IT.</p>

        <h3>Indpro’s Philosophy</h3>
        <p>
            We want to make our clients and partners grow. Without our clients and partners, Indpro cannot grow. It is a two-way relationship.
            By collaborating with us, our clients can reduce their programming costs, without compromising with coding quality.
            This frees resources, giving increased opportunity for our clients to focus on customer care, business development and growth.
            When our clients in Sweden grow, this creates new job opportunities on the Swedish market. At the same time, job opportunities are being created in India.
            It’s a win-win solution!
        </p>
        @*<a href="http://www.indpro.eu/">Visit our Indpro</a>*@

    </div>
</div>


