@model  Indpro.Attendance.WebApp.Areas.Admin.Models.EmployeeIndexModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="margintop10 row">
                <div class="col-md-12">
                    @Html.ActionLink("Add Employee", "Add")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.CheckBoxFor(m => m.IncludeNonActive)&nbsp;&nbsp;@Html.LabelFor(m => m.IncludeNonActive, "Show non active employees")
                    <input type="button" value="Show" class="btn btn-info" onclick="loadEmployees();" />
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("EmployeeListPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function loadEmployees() {
        location.href = '/Admin/Employees?IncludeNonActive=' + document.getElementById('IncludeNonActive').checked;
    }
</script>