@model Indpro.Attendance.WebApp.Areas.Admin.Models.UserModel
@{
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-7 border">
            <h4>To access the page please Login</h4>
        </div>
    </div>
</div>