
@model WebApp.Models.UserModel

@using (Html.BeginForm("Update","Users",FormMethod.Post))
{
   @Html.HiddenFor(u=>u.UserID)
    
   
    @Html.HiddenFor(u=>u.EmployeeID)<br/>
    
    <span>UserName:</span>
    @Html.TextBoxFor(u => u.UserName)<br/>
    <br/>
        
     <span>Password:</span>
    @Html.TextBoxFor(u => u.Password)<br/>
    
    <input type="submit" value="Submit" />

}