@model List<Indpro.Attendance.WebApp.Models.UserModel>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Users</h3>
            @Html.ActionLink("Add User", "NewUser")<br /><br />
            @Html.Partial("UserListPartial", Model)
        </div>
    </div>
</div>

